

# cmake build directorys
/cmake-build-editordebug/
/cmake-build-editorrelease/
/cmake-build-gamedebug/
/cmake-build-gamerelease/

/DebugView/
/GenesisCubeEngine/Resource/GenesisCubeEngineIconSm.png
/GenesisCubeEngine/Resource/GenesisCubeEngineIconSm.psd

/out/
