

# cmake build directorys
/cmake-build-editordebug/
/cmake-build-editorrelease/
/cmake-build-gamedebug/
/cmake-build-gamerelease/

/DebugView/
/GenesisCube/Resource/Icon/GenesisCubeEngineIconSm.png
/GenesisCube/Resource/Icon/GenesisCubeEngineIconSm.psd

/out/
/.vs/